:root {
    --maincolor: darkviolet;
    --lightmain: blueviolet;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    text-decoration: blink;
    color: whitesmoke;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 10px;
}

a.next {
    color: blue;
    float: right;
    margin-right: 20px;
}

a.prev {
    color: blue;
    float: left;
    margin-left: 20px;
}

.container {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--maincolor);
    color: black;
    text-align: center;
    padding: 10px 0;
}

.content {
    padding: 5px;
}

.nav {
    width: 180px;
    height: 1300px;
    float: right;
    background-color: black;
    color: white;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav-heading {
    font-weight: bold;
    font-size: 18px;
}

.nav .selected {
    font-weight: bold;
    color: var(--lightmain);
}

.main {
    margin: 5px;
}

.header2 {
    background-color: var(--lightmain);
    color: white;
    text-align: center;
}

.footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

.picture {
    float: left;
    width: 190px;
    margin: 15px;
}

.paragraph {
    width: 100%;
}

.paragraph::after {
    content: "";
    clear: left;
    display: table;
}

.article-title {
    font-style: bold;
}

h1.webname {
    font-size: 400%;
    transition: color 0.2s;
}

h1.webname:hover {
    color: white;
}

.top-title {
    color: white;
}

b.highlight {
    color: var(--lightmain);
}