body {
	font-family: monospace;
}

a {
	text-decoration: blink;
	color: whitesmoke;
}

h1, h2, h3 {
	margin: 0;
}

ul {
	margin: 10px;
}



a.next {
	color: blue;
	float: right;
	margin-right: 20px;
}

a.prev {
	color: blue;
	float: left;
	margin-left: 20px;
}


.container{
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	background-color: red ;
	color: white;
	text-align: center;
}

.content {
	padding: 5px ;
}

.nav {
	width: 180px;
	height: 1300px;
	float: left;
	background-color: black;
}

.nav ul{
	list-style-type: none;
	padding: 0;
}

.nav .selected{
	font-weight: bold;
	font-size: 20px;
	color: orangered;
}

.main {
	width: 600px;
	float: right;
	margin: 5px;
}

.header2{
	background-color: orangered ;
	color: white;
	text-align: center;
}

.footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}

.picture
{
	float: left;
	width: 190px;
	min-height: 120px;
	margin: 15px;
}

.paragraph
{
	width: 100%
}

.Title 
{
	font-style: bold  ;
	font-size: 20px;
}

h1.webname
{
	font-size: 400%;
}

.anime
{
	color: Black;
}

b.top
{
	color: orangered ;
}